
*{
    background-color: aliceblue;
}
img{
    margin: 2%;
    padding: 2px;
    width: 200px;
}

.perfilprofesional{
    width: 50%;
    margin: 25px ;
    border: 10px solid #909690;
    padding: 10px;

}

.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 20px 40px ;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor:grabbing;
  }
  
  .button2 {background-color: #008CBA;} /* Blue */
  .button3 {background-color: #f44336;} /* Red */ 
  .button4 {background-color: #e7e7e7; color: black;} /* Gray */ 
  .button5 {background-color: #555555;} /* Black */


  .newspaper {
    column-count: 3;
    column-gap: 40px;
    column-rule-style: solid;
    column-rule-width: 1px;
  }
  .grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: 80px 200px;
    gap: 10px;
    background-color: #2196F3;
    padding: 10px;
  }
  
  .grid-container > div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
  }